<header [ngStyle]="{ backgroundImage: backgroundImg }">
  <div class="content section">
    <div *ngIf="getIsMobile" class="flex-row-center">
      <div class="bg-image logo"></div>
      <nav class="nav-links">
        <ul class="flex-row-center medium-gap">
          <li class="{{ menuActive }}" routerLink="/home">Home</li>
          <li class="{{ ecommerceActive }}" routerLink="/e-commerce">
            E-commerce
          </li>
          <li class="{{ campainActive }}" routerLink="/trafego-pago">
            Tráfego Pago
          </li>
          <li class="{{ socialMEdiaActive }}" routerLink="/midias-sociais">
            Redes Sociais
          </li>
          <li class="{{ landPagesActive }}" routerLink="/landing-pages">
            Landing Pages
          </li>
          <a
            target="_blank"
            href="https://wa.me/5511993477055"
            class="button-talk-to-us-outline-small"
            >FALE CONOSCO</a
          >
        </ul>
      </nav>
    </div>
    <div *ngIf="!getIsMobile" class="flex-row-center">
      <img
        src="assets/headers/menu/menu.png"
        alt="Menu"
        class="w-8 h-8 cursor-pointer"
        (click)="openMenu()"
      />
      <div class="bg-image logo"></div>
    </div>
    <div class="flex-column-center some-gap text-center title-text">
      <h2>{{ titleText }}</h2>
      <h2 class="gradient-text">
        {{ displayTitleTextFocus }}
      </h2>
      <h2 *ngIf="isTyping" class="typewriter-bar"></h2>
      <h2>
        {{ displayTitleTextFocusPlanText }}
      </h2>
    </div>
    <div class="paragraph flex-column-center medium-gap text-center">
      <p>{{ footerText }}</p>
      <span>
        <mat-icon
          aria-hidden="false"
          class="arrow-down"
          aria-label="Example home icon"
          fontIcon="arrow_drop_down"
        ></mat-icon
      ></span>
    </div>
  </div>
</header>
