header {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ededed;
  transition: background-image 1s ease-in-out;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo {
  flex: 1 1 30%;
  background: url("../../assets/headers/menu/logo-dz.svg") no-repeat left;
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  color: #ededed;
  cursor: pointer;
  font-weight: 200;
  font-size: 18px;
}

.nav-links li:hover {
  color: #0066e0;
  transition: all 0.3s ease-in-out;
}

.nav-link-active {
  color: #0066e0;
  font-weight: 900;
}

.title-text {
  word-wrap: break-word; /* Permitir quebra de palavras longas */
  white-space: normal; /* Permitir quebra de linha */
  display: inline-block; /* Garante comportamento adequado no fluxo */
}

.gradient-text {
  display: inline-block;
  background: linear-gradient(90deg, #8800ff, #0066e0); /* Gradiente */
  background-clip: text;
  -webkit-background-clip: text; /* Define o gradiente como o "texto" */
  -webkit-text-fill-color: transparent; /* Faz o preenchimento do texto transparente */
  font-weight: bold;
}

.typewriter-bar {
  display: inline-block;
  width: 4px;
  height: 40px; /* Altura proporcional ao texto */
  background-color: #0066e0;
  animation: blink-caret 0.5s step-end infinite; /* Piscar continuamente */
  vertical-align: text-bottom; /* Alinha com a base do texto */
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: 24px;
}

.menu:hover {
  color: #0066e0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.hidden-sidenav {
  display: none;
  top: 0;
  left: -100%;
  animation: closeSideNavAnimation 0.5s ease forwards;
}

.sidenav {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  animation: openSideNavAnimation 0.5s ease forwards;
}

.sidenav li:hover {
  font-size: 20px;
}

.close-sidenav {
  float: right;
}

.close-sidenav:hover {
  cursor: pointer;
}

@keyframes openSideNavAnimation {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes closeSideNavAnimation {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@media (max-width: 1090px) {
  .typewriter-bar {
    height: 30px; /* Altura proporcional ao texto */
  }

  .logo {
    height: 40px;
    background-position: center;
  }
}

@media (max-width: 769px) {
  .footer-text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
}
