.content-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0066e0; /* Cor de fundo azul */
  color: #d9d9d9;
  font-size: 32px; /* Texto menor em dispositivos menores */
  padding: 12vh 0; /* Espaçamento para telas menores */
  gap: 5vh;
  text-align: center;
}

.footer-ico {
  background-image: url("/assets/footer/footer-ico.svg");
  height: 15vh; /* Altura reduzida para dispositivos menores */
  width: 20vw; /* Largura reduzida */
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: contain; /* Garante que a imagem seja responsiva */
}

.content-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #0066e0; /* Cor azul */
  font-size: 28px; /* Tamanho menor para dispositivos menores */
  gap: 4px;
  padding: 1vh;
}

/* Responsividade */
@media (max-width: 768px) {
  .content-principal {
    font-size: 14px; /* Texto menor */
  }

  .footer-ico {
    height: 100px; /* Altura reduzida para dispositivos menores */
    width: 280px; /* Largura reduzida */
  }

  .title {
    font-size: 1.5rem; /* Tamanho menor */
  }

  .content-secondary {
    font-size: 1rem; /* Reduz o tamanho do texto */
    padding: 3vh;
  }
}

@media (max-width: 480px) {
  .content-principal {
    font-size: 12px; /* Texto ainda menor */
  }

  .footer-ico {
    height: 100px; /* Altura reduzida para dispositivos menores */
    width: 280px; /* Largura reduzida */
  }

  .title {
    font-size: 1.5rem; /* Reduz o tamanho da fonte */
  }

  .content-secondary {
    font-size: 1rem; /* Texto pequeno para dispositivos muito pequenos */
    padding: 3vh;
  }
}
