
.footer-ico {
  flex: none;
  background-image: url("/assets/footer/footer-ico.svg");
  height: 150px;
  width: 400px;
  background-position: center;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 5vw;
  background-color: #000;
}

/* Responsividade */
@media (max-width: 768px) {

  .footer-ico {
    height: 100px; /* Altura reduzida para dispositivos menores */
    width: 300px; /* Largura reduzida */
  }

}
