<div class="content">
    <div class="title">
        <span>
            Na Draftzign, oferecemos uma solução completa para o sucesso do seu negócio no mundo digital. Desde a criação do seu e-commerce 
            até a gestão de tráfego 
            pago e marketing de suas páginas e/ou redes sociais, estamos aqui para garantir que você atinja seus objetivos.
        </span>
    </div>
    <div class="row">
        <div class="collumn">
            <div class="content">
                <div class="ico ecommerce-ico">

                </div>
                <div class="content-title">
                    <span>E-Commerce</span>
                </div>
                <div class="content-subtitle">
                    <span>
                        Alcance clientes de qualquer lugare sem custo
                    </span>
                </div>
                <div class="cta-know-more"  routerLink="/e-commerce">
                    <span>
                        Saiba mais 
                    </span>
                    <div class="know-more-ico"></div>
                </div>

            </div>
        </div>
        <div class="collumn">
            <div class="content">
                <div class="ico social-media-ico">

                </div>
                <div class="content-title">
                    <span>Redes Sociais</span>
                </div>
                <div class="content-subtitle">
                    <span>
                        Faremos seus posts, pensando no engajamento do seu público-alvo.
                    </span>
                </div>
                <div class="cta-know-more"  routerLink="/midias-sociais">
                    <span>
                        Saiba mais 
                    </span>
                    <div class="know-more-ico"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="collumn">
            <div class="content">
                <div class="ico campain-ico">

                </div>
                <div class="content-title">
                    <span>Tráfego Pago</span>
                </div>
                <div class="content-subtitle">
                    <span>
                        Desenvovimento de campanhas, aumentando o tráfego para o seu negócio.
                    </span>
                </div>
                <div class="cta-know-more" routerLink="/trafego-pago">
                    <span>
                        Saiba mais 
                    </span>
                    <div class="know-more-ico"></div>
                </div>

            </div>
        </div>
        <div class="collumn">
            <div class="content">
                <div class="ico landing-pages-ico">

                </div>
                <div class="content-title">
                    <span>Landing Pages</span>
                </div>
                <div class="content-subtitle">
                    <span>
                        Densenvolvimento de uma página focada na captação de clientes para o seu negócio.
                    </span>
                </div>
                <div class="cta-know-more" routerLink="/landing-pages">
                    <span >
                        Saiba mais 
                    </span>
                    <div class="know-more-ico"></div>
                </div>

            </div>
        </div>
    </div>
</div>
