<div class="section flex-column-center big-gap bg-black font-white">
  <div class="container">
    <p class="title">
      Na Draftzign,
      <strong>
        oferecemos uma solução completa para o sucesso do seu negócio no mundo
        digital.
      </strong>
      Desde a criação do seu e-commerce até a gestão de tráfego pago e marketing
      de suas páginas e/ou redes sociais, estamos aqui para garantir que você
      atinja seus objetivos.
    </p>
    <div class="services-container">
      <div class="services-row">
        <div class="card some-gap">
          <div class="ico ecommerce-ico"></div>
          <h3>E-Commerce</h3>
          <p>
            Alcance clientes de todo o lugar, livre de aluguel e folha de
            pagamento.
          </p>
          <div class="cta-know-more font-blue" routerLink="/e-commerce">
            <span> Saiba mais </span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="north_east"></mat-icon>
          </div>
        </div>
        <div class="card some-gap">
          <div class="ico social-media-ico"></div>
          <h3>Redes Sociais</h3>
          <p>Faremos seus posts, pensando no engajamento do seu público-alvo.</p>
          <div class="cta-know-more font-blue" routerLink="/midias-sociais">
            <span> Saiba mais </span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="north_east"></mat-icon>
          </div>
        </div>
      </div>
      <div class="services-row">
        <div class="card some-gap">
          <div class="ico campain-ico"></div>
          <h3>Tráfego Pago</h3>
          <p>
            Desenvovimento de campanhas, aumentando o tráfego para o seu negócio.
          </p>
          <div class="cta-know-more font-blue" routerLink="/trafego-pago">
            <span> Saiba mais </span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="north_east"></mat-icon>
          </div>
        </div>
        <div class="card some-gap">
          <div class="ico landing-pages-ico"></div>
          <h3>Landing Pages</h3>
          <p>
            Densenvolvimento de uma página focada na captação de clientes para o
            seu negócio.
          </p>
          <div class="cta-know-more font-blue" routerLink="/landing-pages">
            <span> Saiba mais </span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="north_east"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
