.desktop {
  display: block;
}

.mobile {
  display: none;
}

.bg-black {
  padding: 10vh 5vw 10vh 0;
}

.text-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navigation.paragraph {
  align-items: center;
}

.navigation li {
  display: flex;
  align-items: start;
  gap: 8px;
  font-weight: 800;
}

.text-image-container .paragraph {
  flex: 1 1 40%;
}

.first-content-campaign {
  background-image: url("../../../assets/campain/first-content-compain.svg");
  background-position: center;
}

.second-content-campaign {
  background-image: url("../../../assets/campain/second-content-campaign.svg");
  background-position: left;
}

.arrow-down:hover {
  border-top: 24px solid #d9d9d9; /* Cor da seta */
}

.plans {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.plan {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.plan .benefits,
.plan .ad-budget,
.plan .service-value,
.plan .plan-footer {
  flex: 1;
}

.plan-border {
  width: 100%;
  border: 1px solid #9f9f9f;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 200;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1;
}

.ad-budget {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-value-content {
  display: flex;
  gap: 10px;
  align-items: start;
  color: #9f9f9f;
  font-weight: 200;
}

.plan-value {
  font-weight: 800;
  font-size: 24px;
}

.plan-value-flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 1;
  font-weight: 200;
}

.service-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #9f9f9f;
}

.service-value .plan-value-flex {
  align-items: center;
}

.plan-footer {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 200;
}

@media (max-width: 1090px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .second-content-campaign {
    flex: none;
    height: 300px;
    background-position: center;
    background-image: url("../../../assets/campain/second-content-campaign-mobile.svg");
  }

  .bg-black {
    padding: 10vh 5vw;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
