<div class="desktop">
  <section class="section flex-column-center bg-blue font-white big-gap">
    <h2>
      <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
      O segredo do
      <span class="focus-span bg-white font-blue">tráfego pago</span>
    </h2>
    <div class="paragraph">
      <p>
        Hoje, o tráfego pago é
        <strong>muito acessível</strong>
        e é uma das maneiras mais rápidas e eficazes de
        <strong>atrair clientes</strong>
        prontos para comprar. Com campanhas bem direcionadas,
        <strong>sua empresa pode sair na frente</strong>
        , alcançando o público ideal exatamente quando ele está buscando pelo
        que você oferece.
      </p>
    </div>
    <div class="text-image-container medium-gap">
      <div class="paragraph">
        <p>
          Com a <strong>Draftzign</strong> , transformamos cada centavo da sua
          verba em oportunidades reais de conversão. Nossos especialistas criam
          campanhas personalizadas que maximizam o alcance e o impacto, trazendo
          resultados comprovados em menos tempo.
        </p>
      </div>
      <div class="bg-image first-content-campaign"></div>
    </div>
  </section>
  <section class="section flex-column-center big-gap bg-black font-white">
    <div class="text-image-container medium-gap">
      <div class="bg-image second-content-campaign"></div>
      <div class="paragraph medium-gap">
        <h2>
          Nosso <span class="focus-span bg-white font-black">diferencial</span>
        </h2>
        <div>
          <h3 class="font-blue">Estratégias geográficas otimizadas:</h3>
          <p>
            Na Draftzign, entendemos que cada negócio é único, e que seus
            clientes estão em locais estratégicos. Por isso, não fazemos
            campanhas genéricas: criamos estratégias geográficas personalizadas
            que levam o seu anúncio para as regiões que realmente fazem sentido
            para o seu público e o seu nicho. Imagine investir sua verba apenas
            onde os resultados acontecem. Nós planejamos junto com você,
            analisando o perfil do seu público e identificando as áreas que
            trazem o maior retorno. Dessa forma, você otimiza o seu
            investimento, evitando o desperdício em áreas que não trariam
            impacto para o seu negócio.
          </p>
        </div>
      </div>
    </div>
    <div class="navigation paragraph text-start">
      <h3 class="font-blue">Com nossa estratégia geográfica, você obtém:</h3>
      <div>
        <nav>
          <ul>
            <li>
              <div>
                ->
                <p>
                  <strong>Foco em regiões de maior potencial:</strong> Concentre
                  seus anúncios onde seus clientes estão.
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  <strong>Otimização de verba:</strong> Maximize o retorno sobre
                  investimento, direcionando recursos de forma precisa.
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  <strong>Segmentação que gera conversão:</strong> Atinga o
                  público certo no local certo para um impacto maior.
                </p>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="section flex-column-center big-gap bg-blue font-white">
    <h2>
      <span class="focus-span bg-white font-blue">Nossos planos</span> de gestão
      de tráfego
    </h2>
    <div class="paragraph">
      <p>
        Um de nossos objetivos é impulsionar o crescimento das economias locais.
        Oferecemos soluções Google acessíveis para pequenas, médias e grandes
        empresas.
      </p>
    </div>
    <div class="plans medium-gap">
      <div class="plan medium-gap bg-white font-black">
        <h4 class="font-blue">Plano Initial</h4>

        <div class="plan-border"></div>

        <div class="benefits medium-gap font-black">
          <h5 class="font-blue text-center">benefícios</h5>
          <div class="benefits-list some-gap">
            <div><span>-> </span>Uma reunião de estratégia inicial mensal;</div>
            <div>
              <span>-> </span>Uma reunião de apresentação de resultados;
            </div>
            <div>
              <span>-> </span>Otimizações de campanha por nossos especialistas
              Google Ads;
            </div>
            <div>
              <span>-> </span>Desenvolvimento de uma Landing Page de alta
              conversão p/ um produto ou serviço;
            </div>
            <div>
              <span>-> </span>Gerente de conta dedicado à suas estratégias e
              resultados;
            </div>
          </div>
        </div>

        <div class="plan-border"></div>

        <div class="ad-budget some-gap">
          <h5 class="font-blue text-center">verba de anúncio indicada</h5>
          <div class="plan-value-content some-gap">
            <div class="plan-value-flex">
              <span class="plan-value font-blue">R$100,00</span>
              <span>/mês</span>
            </div>
            <div>até</div>
            <div class="plan-value-flex">
              <span class="plan-value font-blue">R$300,00</span>
              <span>/mês</span>
            </div>
          </div>
        </div>

        <div class="plan-border"></div>

        <div class="service-value some-gap">
          <h5 class="font-blue text-center">valor do serviço</h5>
          <div class="plan-value-flex">
            <div><span class="plan-value font-blue">R$ 180,00</span> /mês</div>
            <div>+ 10% de verba do anúncio</div>
          </div>
        </div>
        <div class="plan-footer font-blue text-center">
          Ótimo para pequenas empresas que buscam resultados no Google Ads.
        </div>
      </div>
      <div class="plan medium-gap bg-white font-black">
        <h4 class="font-blue">Plano Plus</h4>
        <div class="plan-border"></div>
        <div class="benefits medium-gap font-black">
          <h5 class="font-blue text-center">benefícios</h5>
          <div class="benefits-list some-gap">
            <div>
              <span>-> </span>Reuniões de estratégia inicial mensal p/ cada
              produto;
            </div>
            <div>
              <span>-> </span>Uma reunião de apresentação de resultados;
            </div>
            <div>
              <span>-> </span>Otimizações de campanha por nossos especialistas
              Google Ads;
            </div>
            <div>
              <span>-> </span>Desenvolvimento de uma Landing Page de alta
              conversão p/ um produto ou serviço;
            </div>
            <div>
              <span>-> </span>Gerente de conta dedicado à suas estratégias e
              resultados;
            </div>
          </div>
        </div>
        <div class="plan-border"></div>
        <div class="ad-budget some-gap">
          <h5 class="font-blue text-center">verba de anúncio indicada</h5>
          <div class="plan-value-content some-gap">
            <div class="plan-value-flex">
              <span class="plan-value font-blue">R$300,00</span>
              <span>/mês</span>
            </div>
            <div>até</div>
            <div class="plan-value-flex">
              <span class="plan-value font-blue">R$1500,00</span>
              <span>/mês</span>
            </div>
          </div>
        </div>
        <div class="plan-border"></div>
        <div class="service-value some-gap">
          <h5 class="font-blue text-center">valor do serviço</h5>
          <div class="plan-value-flex">
            <div><span class="plan-value font-blue">R$ 390,00</span> /mês</div>
            <div>+ 10% de verba do anúncio</div>
          </div>
        </div>
        <div class="plan-footer font-blue text-center">
          Ótimo para empresas que desejam consultoria e suporte de um gerente de
          conta em suas estratégias.
        </div>
      </div>
      <div class="plan medium-gap bg-white font-black">
        <h4 class="font-blue">Plano Premiere</h4>
        <div class="plan-border"></div>
        <div class="benefits medium-gap font-black">
          <h5 class="font-blue text-center">benefícios</h5>
          <div class="benefits-list some-gap">
            <div><span>-> </span>Reuniões de estratégias gerais mensal;</div>
            <div>
              <span>-> </span>Reuniões quinzenais p/ acompanhamento e
              apresentação de resultados;
            </div>
            <div>
              <span>-> </span>Otimizações de campanha por nossos especialistas
              Google Ads;
            </div>
            <div>
              <span>-> </span>Desenvolvimento Landing Pages de alta conversão p/
              diversos produtos ou serviços;
            </div>
            <div>
              <span>-> </span>Gerente de conta dedicado à suas estratégias e
              resultados;
            </div>
          </div>
        </div>
        <div class="plan-border"></div>
        <div class="ad-budget some-gap">
          <h5 class="font-blue text-center">verba de anúncio indicada</h5>
          <div class="plan-value-content some-gap">
            <div class="plan-value-flex">
              <span class="plan-value font-blue">R$1500,00</span>
              <span>/mês</span>
            </div>
            <div>até</div>
            <div class="plan-value-flex">
              <span class="plan-value font-blue">R$5000,00</span>
              <span>/mês</span>
            </div>
          </div>
        </div>
        <div class="plan-border"></div>
        <div class="service-value some-gap">
          <h5 class="font-blue text-center">valor do serviço</h5>
          <div class="plan-value-flex">
            <div><span class="plan-value font-blue">R$ 889,00</span> /mês</div>
            <div>+ 10% de verba do anúncio</div>
          </div>
        </div>
        <div class="plan-footer font-blue text-center">
          Focado em campanhas customizadas que exploram ao máximo o seu produto,
          dedicamos um gerente de contas para alinhar estratégias e fazer suas
          vendas alavancarem.
        </div>
      </div>
    </div>
    <div class="arrow-down"></div>
    <div class="navigation paragraph">
      <h3 class="font-blue">Com nossa estratégia geográfica, você obtém:</h3>
      <div>
        <nav>
          <ul>
            <li>
              <div>
                ->
                <p>
                  Configuração de anúncios do Google por um de nossos
                  especialistas pesquisa de palavras-chave, toda a redação de
                  anúncios, extensões de anúncios, adição de nossa lista inicial
                  de palavras-chave negativas;
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  Otimização contínua regular por nossa equipe de especialistas;
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  Ajuste de lances de palavras-chave, estratégias de
                  gerenciamento de lances, correspondência de palavras-chave,
                  gerenciamento de palavras-chave negativas, revisão de termos
                  de pesquisa para novas palavras-chave e negativas, otimização
                  da proporção entre dispositivos móveis e computadores e
                  ajustes de lances, ajustes de segmentação geográfica, ajustes
                  de extensão de anúncios, otimização de texto de anúncios e
                  testes A/B de anúncios para maiores taxas de resposta;
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  Pesquisa de palavras-chave, toda a redação de anúncios,
                  extensões de anúncios, adição de nossa lista inicial de
                  palavras-chave negativas;
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>Relatórios mensais enviados no segundo dia de cada mês;</p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>Monitoramento diário;</p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>Migração de plano a QUALQUER momento, sem alienação.</p>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="section flex-column-center big-gap bg-white">
    <h2>FALE CONOSCO E IMPULSIONE SUA PRESENÇA ONLINE</h2>
    <p>Clique no botão abaixo e fale com um de nossos especialistas.</p>
    <div class="button-talk-to-us bg-blue font-white">FALE CONOSCO</div>
  </section>
</div>
<div class="mobile">
  <section class="section flex-column-center big-gap bg-blue font-white">
    <h2 class="title">
      <span>O segredo do</span>
      <span class="focus-span bg-white font-blue">tráfego pago</span>
    </h2>
    <div class="paragraph">
      <p>
        Hoje, o tráfego pago é
        <strong>muito acessível</strong>
        e é uma das maneiras mais rápidas e eficazes de
        <strong>atrair clientes</strong>
        prontos para comprar. Com campanhas bem direcionadas,
        <strong>sua empresa pode sair na frente</strong>
        , alcançando o público ideal exatamente quando ele está buscando pelo
        que você oferece.
      </p>
    </div>
    <div class="bg-image first-content-campaign"></div>
    <div class="paragraph">
      <p>
        Com a <strong>Draftzign</strong> , transformamos cada centavo da sua
        verba em oportunidades reais de conversão. Nossos especialistas criam
        campanhas personalizadas que maximizam o alcance e o impacto, trazendo
        resultados comprovados em menos tempo.
      </p>
    </div>
  </section>
  <section class="section flex-column-center big-gap bg-black font-white">
    <h2 class="text-center">
      Nosso <span class="focus-span bg-white font-black">diferencial</span>
    </h2>
    <div class="text-image-container medium-gap">
      <div class="paragraph">
        <h3 class="font-blue">Estratégias geográficas otimizadas:</h3>
        <p>
          Na Draftzign, entendemos que cada negócio é único, e que seus clientes
          estão em locais estratégicos. Por isso, não fazemos campanhas
          genéricas: criamos estratégias geográficas personalizadas que levam o
          seu anúncio para as regiões que realmente fazem sentido para o seu
          público e o seu nicho.
        </p>
      </div>
    </div>
    <div class="bg-image second-content-campaign"></div>
    <div class="paragraph">
      <p>
        Imagine investir sua verba apenas onde os resultados acontecem. Nós
        planejamos junto com você, analisando o perfil do seu público e
        identificando as áreas que trazem o maior retorno. Dessa forma, você
        otimiza o seu investimento, evitando o desperdício em áreas que não
        trariam impacto para o seu negócio.
      </p>
    </div>
    <div class="navigation paragraph">
      <h3 class="font-blue">Com nossa estratégia geográfica, você obtém:</h3>
      <div>
        <nav>
          <ul>
            <li>
              <div>
                ->
                <p>
                  <strong>Foco em regiões de maior potencial:</strong> Concentre
                  seus anúncios onde seus clientes estão.
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  <strong>Otimização de verba:</strong> Maximize o retorno sobre
                  investimento, direcionando recursos de forma precisa.
                </p>
              </div>
            </li>
            <li>
              <div>
                ->
                <p>
                  <strong>Segmentação que gera conversão:</strong> Atinga o
                  público certo no local certo para um impacto maior.
                </p>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="section flex-column-center big-gap bg-blue font-white">
    <h2 class="text-center">
      <span class="focus-span bg-white font-blue">Nossos planos</span> de gestão
      de tráfego
    </h2>

    <div class="slider-wrapper">
      <div class="slider">
        <div id="firstPlan" class="plan medium-gap bg-white font-black" style="margin: 0 5px;">
          <h4 class="font-blue">Plano Initial</h4>

          <div class="plan-border"></div>

          <div class="benefits medium-gap font-black">
            <h5 class="font-blue text-center">benefícios</h5>
            <div class="benefits-list some-gap">
              <div>
                <span>-> </span>Uma reunião de estratégia inicial mensal;
              </div>
              <div>
                <span>-> </span>Uma reunião de apresentação de resultados;
              </div>
              <div>
                <span>-> </span>Otimizações de campanha por nossos especialistas
                Google Ads;
              </div>
              <div>
                <span>-> </span>Desenvolvimento de uma Landing Page de alta
                conversão p/ um produto ou serviço;
              </div>
              <div>
                <span>-> </span>Gerente de conta dedicado à suas estratégias e
                resultados;
              </div>
            </div>
          </div>

          <div class="plan-border"></div>

          <div class="ad-budget some-gap">
            <h5 class="font-blue text-center">verba de anúncio indicada</h5>
            <div class="plan-value-content some-gap">
              <div class="plan-value-flex">
                <span class="plan-value font-blue">R$100,00</span>
                <span>/mês</span>
              </div>
              <div>até</div>
              <div class="plan-value-flex">
                <span class="plan-value font-blue">R$300,00</span>
                <span>/mês</span>
              </div>
            </div>
          </div>

          <div class="plan-border"></div>

          <div class="service-value some-gap">
            <h5 class="font-blue text-center">valor do serviço</h5>
            <div class="plan-value-flex">
              <div>
                <span class="plan-value font-blue">R$ 180,00</span> /mês
              </div>
              <div>+ 10% de verba do anúncio</div>
            </div>
          </div>
          <div class="plan-footer font-blue text-center">
            Ótimo para pequenas empresas que buscam resultados no Google Ads.
          </div>
        </div>
        <div id="secondPlan" class="plan medium-gap bg-white font-black" style="margin: 0 5px;">
          <h4 class="font-blue">Plano Plus</h4>
          <div class="plan-border"></div>
          <div class="benefits medium-gap font-black">
            <h5 class="font-blue text-center">benefícios</h5>
            <div class="benefits-list some-gap">
              <div>
                <span>-> </span>Reuniões de estratégia inicial mensal p/ cada
                produto;
              </div>
              <div>
                <span>-> </span>Uma reunião de apresentação de resultados;
              </div>
              <div>
                <span>-> </span>Otimizações de campanha por nossos especialistas
                Google Ads;
              </div>
              <div>
                <span>-> </span>Desenvolvimento de uma Landing Page de alta
                conversão p/ um produto ou serviço;
              </div>
              <div>
                <span>-> </span>Gerente de conta dedicado à suas estratégias e
                resultados;
              </div>
            </div>
          </div>
          <div class="plan-border"></div>
          <div class="ad-budget some-gap">
            <h5 class="font-blue text-center">verba de anúncio indicada</h5>
            <div class="plan-value-content some-gap">
              <div class="plan-value-flex">
                <span class="plan-value font-blue">R$300,00</span>
                <span>/mês</span>
              </div>
              <div>até</div>
              <div class="plan-value-flex">
                <span class="plan-value font-blue">R$1500,00</span>
                <span>/mês</span>
              </div>
            </div>
          </div>
          <div class="plan-border"></div>
          <div class="service-value some-gap">
            <h5 class="font-blue text-center">valor do serviço</h5>
            <div class="plan-value-flex">
              <div>
                <span class="plan-value font-blue">R$ 390,00</span> /mês
              </div>
              <div>+ 10% de verba do anúncio</div>
            </div>
          </div>
          <div class="plan-footer font-blue text-center">
            Ótimo para empresas que desejam consultoria e suporte de um gerente
            de conta em suas estratégias.
          </div>
        </div>
        <div id="thirdPlan" class="plan medium-gap bg-white font-black" style="margin: 0 5px;">
          <h4 class="font-blue">Plano Premiere</h4>
          <div class="plan-border"></div>
          <div class="benefits medium-gap font-black">
            <h5 class="font-blue text-center">benefícios</h5>
            <div class="benefits-list some-gap">
              <div><span>-> </span>Reuniões de estratégias gerais mensal;</div>
              <div>
                <span>-> </span>Reuniões quinzenais p/ acompanhamento e
                apresentação de resultados;
              </div>
              <div>
                <span>-> </span>Otimizações de campanha por nossos especialistas
                Google Ads;
              </div>
              <div>
                <span>-> </span>Desenvolvimento Landing Pages de alta conversão
                p/ diversos produtos ou serviços;
              </div>
              <div>
                <span>-> </span>Gerente de conta dedicado à suas estratégias e
                resultados;
              </div>
            </div>
          </div>
          <div class="plan-border"></div>
          <div class="ad-budget some-gap">
            <h5 class="font-blue text-center">verba de anúncio indicada</h5>
            <div class="plan-value-content some-gap">
              <div class="plan-value-flex">
                <span class="plan-value font-blue">R$1500,00</span>
                <span>/mês</span>
              </div>
              <div>até</div>
              <div class="plan-value-flex">
                <span class="plan-value font-blue">R$5000,00</span>
                <span>/mês</span>
              </div>
            </div>
          </div>
          <div class="plan-border"></div>
          <div class="service-value some-gap">
            <h5 class="font-blue text-center">valor do serviço</h5>
            <div class="plan-value-flex">
              <div>
                <span class="plan-value font-blue">R$ 889,00</span> /mês
              </div>
              <div>+ 10% de verba do anúncio</div>
            </div>
          </div>
          <div class="plan-footer font-blue text-center">
            Focado em campanhas customizadas que exploram ao máximo o seu
            produto, dedicamos um gerente de contas para alinhar estratégias e
            fazer suas vendas alavancarem.
          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav">
      <a class="bg-white"></a>
      <a class="bg-white"></a>
      <a class="bg-white"></a>
    </div>
  </section>
  <section
    class="section flex-column-center big-gap bg-white font-black text-center"
  >
    <h2>FALE CONOSCO E IMPULSIONE SUA PRESENÇA ONLINE</h2>
    <p>Clique no botão abaixo e fale com um de nossos especialistas.</p>
    <div class="button-talk-to-us bg-blue font-white">FALE CONOSCO</div>
  </section>
</div>
