.desktop {
  display: block;
}

.mobile {
  display: none;
}

.section {
  padding: 10vh 5vw;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.section h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
}

.section p {
  font-weight: 300;
}

.bg {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.bg-blue {
  background-color: #0066e0;
  color: #ededed;
}

.bg-black {
  background-color: #151515;
  color: #ededed;
  padding: 10vh 5vw 10vh 0;
}

.bg-white {
  background-color: #ededed;
  color: #151515;
  text-align: center;
}

.bg-blue .focus-span {
  background-color: #ededed;
  color: #0066e0;
}

.bg-black .focus-span {
  color: #151515;
  background-color: #ededed;
}

.text-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1;
}

.navigation.paragraph {
  align-items: center;
}

.navigation li {
  display: flex;
  align-items: start;
  gap: 8px;
  font-weight: 800;
}

.text-image-container .paragraph {
  flex: 1 1 40%;
  text-align: left;
}

.paragraph h3 {
  color: #0066e0;
  font-weight: 800;
}

.bg-image {
  flex: 1 1 40%;
  height: 400px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-blue .bg-image {
  background-image: url("../../../assets/campain/first-content-compain.svg");
}

.bg-black .bg-image {
  flex: 1 1 50%;
  height: 550px;
  background-image: url("../../../assets/campain/second-content-campaign.svg");
  background-position: left;
}

.arrow-down:hover {
  border-top: 24px solid #d9d9d9; /* Cor da seta */
}

.plans {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.plan {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ededed;
  color: #151515;
  font-size: 20px;
}

.plan h4 {
  font-weight: 300;
  font-size: 30px;
  color: #0066e0;
}

.plan-border {
  width: 100%;
  border: 1px solid #9f9f9f;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 200;
  color: #151515;
}

.plan h5 {
  font-weight: 200;
  font-size: 24px;
  color: #0066e0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  line-height: 1;
}

.ad-budget {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-value-content {
  display: flex;
  gap: 10px;
  align-items: start;
  color: #9f9f9f;
  font-weight: 200;
}

.plan-value {
  font-weight: 800;
  font-size: 24px;
  color: #0066e0;
}

.plan-value-flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 1;
  font-weight: 200;
}

.service-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #9f9f9f;
}

.service-value .plan-value-flex {
  align-items: center;
}

.plan-footer {
  font-size: 16px;
  font-weight: 200;
  color: #0066e0;
}

@media (max-width: 1090px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .bg-image,
  .bg-black .bg-image {
    flex: none;
    height: 300px;
    background-position: center;
    background-image: url('../../../assets/campain/second-content-campaign-mobile.svg');
  }

  .bg-black {
    padding: 10vh 5vw;
  }

  .bg-black h2 {
    text-align: center;
  }

  .paragraph h3 {
    font-size: 24px;
  }

  .paragraph {
    font-size: 20px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
