<div class="container">
<div class="first-section">
    <div class="flex">
        <div class="text">
            <div class="title">
                <span>O SEGREDO DO </span>
                <span>TRÁFEGO PAGO</span>
            </div>
            <div class="subtitle">
                <span>
                    Hoje, o tráfego pago é <STRONG>muito acessível</STRONG>  e é uma das maneiras mais rápidas e eficazes de 
                    <strong>atrair clientes</strong>  prontos para comprar. Com campanhas bem direcionadas, 
                   <strong>sua empresa pode sair na frente</strong>, 
                    alcançando o público ideal exatamente quando ele está buscando pelo que você oferece.
                </span>
            </div>
            <div class="footer-title">
                <span>
                    Com a <strong>Draftzign</strong>, transformamos cada centavo da sua verba em oportunidades reais de conversão. Nossos especialistas criam campanhas personalizadas que maximizam o alcance e o impacto, trazendo resultados comprovados em menos tempo.
                </span>
            </div>
        </div>
        <div class="image">
            <div class="center-image"></div>
        </div>
    </div>
</div>
</div>