<div class="desktop">
  <div class="bg-white" style="position: relative; height: 600px">
    <div class="background">
      <div class="top-section"></div>
      <div class="bottom-section"></div>
      <div
        class="section"
        style="position: absolute; z-index: 1; height: 100%; width: 100%"
      >
        <div
          class="flex-column-start big-gap text-left"
          style="justify-content: space-between; height: 400px"
        >
          <p class="font-blue">
            Somos especialistas no desenvolvimento de landing pages com
            direcionamento apontado ao seu mercado e público-alvo.
          </p>
          <p class="font-white">
            Iremos desenvolver a landing page focando em um ou vários produtos
            de seu catálogo, incentivando o seu cliente à se direcionar ao seu
            e-commerce ou sua página.
          </p>
        </div>
        <div class="bg-image business-man"></div>
      </div>
    </div>
  </div>
  <div class="bg-blue">
    <div
      class="section flex-column-center bg-black font-white big-gap"
      style="border-radius: 50px 50px 0 0"
    >
      <img
        src="../../../assets/landing-page/computer-image.svg"
        alt=""
        style="width: 80%"
      />
      <h2>
        Vantagens de ter uma
        <span class="focus-span bg-white font-black">landing page</span> em seu
        negócio:
      </h2>
      <div class="flex-column-center big-gap">
        <div class="flex-row-center big-gap">
          <h1 class="font-blue">1</h1>
          <div class="paragraph">
            <p class="text-justify">
              <strong>Foco em conversão:</strong> Diferente de uma página de
              produto tradicional de um site, a landing page é direcionada para
              uma única ação específica, como realizar uma compra, solicitar
              orçamento, etc.
            </p>
          </div>
        </div>
        <div class="flex-row-center big-gap">
          <div class="paragraph">
            <p class="text-justify">
              <strong>Elementos chamativos:</strong> Titulos chamativos,
              subtítulos persuasivos, descrições claras dos benefícios do
              produtos e depoimento de clientes anteriores, guiam o visitante na
              jornada e aumentam as chances de conversão.
            </p>
          </div>
          <h1 class="font-blue">2</h1>
        </div>
        <div class="flex-row-center big-gap">
          <h1 class="font-blue">3</h1>
          <div class="paragraph">
            <p class="text-justify">
              <strong>Coleta de dados:</strong> Sua Landing Page estará captando
              a armazenando os dados do cliente a todo momento e nossa equipe
              estará apta à compilar e apresentar todas as informações captadas
              à sua empresa.
            </p>
          </div>
        </div>
        <div class="flex-row-center big-gap">
          <div class="paragraph">
            <p class="text-justify">
              <strong>Medição de resultados:</strong> Focaremos sua Landing Page
              em ações específicas, isso irá possibilitar o rastreamento de
              taxas de conversão e permitirá que possamos identificar quais
              elementos estão funcionando bem e quais precisam ser ajustados.
            </p>
          </div>
          <h1 class="font-blue">4</h1>
        </div>
      </div>
      <div
        class="flex-row-center medium-gap"
        style="justify-content: space-between; width: 100%"
      >
        <div class="bg-image light-up-business"></div>
        <div class="flex-column-center text-center some-gap">
          <h1>Ilumine seu <span class="font-blue">negócio</span></h1>
          <div class="button-talk-to-us bg-blue font-white">FALE CONOSCO</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile">
  <div class="bg-blue section flex-column-center big-gap font-white" style="position: relative;">
    <div class="font-white paragraph big-gap text-center" style="z-index: 1;">
      <p>
        Somos especialistas no desenvolvimento de landing pages com
        direcionamento apontado ao seu mercado e público-alvo.
      </p>
      <p>
        Iremos desenvolver a landing page focando em um ou vários produtos de
        seu catálogo, incentivando o seu cliente à se direcionar ao seu
        e-commerce ou sua página.
      </p>
    </div>
    <div class="bg-image business-man" style="position: absolute;left: 0; top: 50;"></div>
  </div>
  <div class="bg-blue">
    <div
      class="section flex-column-center text-center bg-black font-white big-gap"
      style="border-radius: 50px 50px 0 0"
    >
      <img
        src="../../../assets/landing-page/computer-image.svg"
        alt=""
        style="width: 100%"
      />
      <h2>
        Vantagens de ter uma
        <span class="font-blue">landing page</span> em seu negócio:
      </h2>
      <div class="flex-column-center big-gap">
        <div class="flex-column-center medium-gap">
          <h1 class="font-blue" style="font-size: 100px">01.</h1>
          <div class="paragraph">
            <p class="text-center">
              <strong>Foco em conversão:</strong> Diferente de uma página de
              produto tradicional de um site, a landing page é direcionada para
              uma única ação específica, como realizar uma compra, solicitar
              orçamento, etc.
            </p>
          </div>
        </div>
        <div class="flex-column-center medium-gap">
          <h1 class="font-blue" style="font-size: 100px">02.</h1>
          <div class="paragraph">
            <p class="text-center">
              <strong>Elementos chamativos:</strong> Titulos chamativos,
              subtítulos persuasivos, descrições claras dos benefícios do
              produtos e depoimento de clientes anteriores, guiam o visitante na
              jornada e aumentam as chances de conversão.
            </p>
          </div>
        </div>
        <div class="flex-column-center medium-gap">
          <h1 class="font-blue" style="font-size: 100px">03.</h1>
          <div class="paragraph">
            <p class="text-center">
              <strong>Coleta de dados:</strong> Sua Landing Page estará captando
              a armazenando os dados do cliente a todo momento e nossa equipe
              estará apta à compilar e apresentar todas as informações captadas
              à sua empresa.
            </p>
          </div>
        </div>
        <div class="flex-column-center medium-gap">
          <h1 class="font-blue" style="font-size: 100px">04.</h1>
          <div class="paragraph">
            <p class="text-center">
              <strong>Medição de resultados:</strong> Focaremos sua Landing Page
              em ações específicas, isso irá possibilitar o rastreamento de
              taxas de conversão e permitirá que possamos identificar quais
              elementos estão funcionando bem e quais precisam ser ajustados.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-column-center text-center some-gap">
        <h1>Ilumine seu <span class="font-blue">negócio</span></h1>
        <div class="button-talk-to-us bg-blue font-white">FALE CONOSCO</div>
      </div>
    </div>
    <div class="bg-image light-up-business"></div>
  </div>
</div>
