.business-man {
  background-image: url("../../../assets/landing-page/business-man.svg");
  background-position: right;
}

.light-up-business {
  background-image: url('../../../assets/landing-page/light-up-business.svg');
  background-position: left;
}

.cellphone-mockup {
  background-image: url('../../../assets/landing-page/cellphone-mockup.svg');
  background-position: left;
}

@media(max-width: 1090px) {
  .light-up-business {
    background-image: url('../../../assets/landing-page/light-up-business-mobile.svg');
    background-size: cover;
    height: 300px;
    background-position: center;
  }
  .business-man {
    height: 300px;
  }

  .cellphone-mockup {
    background-position: center;
  }
}
