.container {
  display: block;
}

.e-commerce-mobile {
  display: none;
}

.text-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.idea {
  background-image: url("../../../assets/ecommerce/idea.svg"); /* Insira o caminho da imagem aqui */
  background-position: right;
}

.veder-machine {
  background-image: url("../../../assets/ecommerce/veder-machine.svg"); /* Insira o caminho da imagem aqui */
  background-position: left;
  width: 100%;
}

.retangle-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Blocos de benefício */
.retangle-option {
  border: 2px dashed #333;
  border-radius: 16px;
  padding: 0 80px;
}

.retangle-option .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.retangle-option .image {
  flex: none;
  font-size: 95px;
  width: 160px;
  font-weight: 800;
  border-radius: 0 0 16px 16px;
  margin-bottom: 20px;
}

.retangle-option .description {
  flex: 1;
  justify-content: center;
  margin-left: 28px;
}

.retangle-option:nth-child(even) .image {
  order: 2; /* Coloca a imagem à direita nos itens pares */
}

.retangle-option:nth-child(even) .description {
  margin-right: 28px;
  margin-left: 0;
}

.logo-background {
  background-image: url("../../../assets/ecommerce/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 28px;
}
.clock-and-person {
  background-image: url("../../../assets/ecommerce/clock-and-person.svg"); /* Caminho da imagem */
  background-position: right;
}

@media (max-width: 1090px) {
  .flex {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .footer-title {
    font-size: 28px;
  }

  .retangle-option:nth-child(odd) {
    border-right: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 0;
    margin-right: -5vw;
  }

  .retangle-option:nth-child(even) {
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
    margin-left: -5vw;
  }

  .retangle-option .description {
    flex: none;
    margin: 0;
  }

  .footer-text {
    font-weight: 800;
  }
}
