<div class="desktop">
  <div class="section bg-black font-white">
    <div class="container flex-row-center big-gap">
      <div class="text-container big-gap">
        <h2 class="flex-column-start">
          <span>IMAGINE O</span>
          <span class="focus-span bg-blue font-black">SEGUINTE:</span>
        </h2>
        <div>
          <div class="paragraph">
            <p>
              Você tem um produto que sabe que tem potencial para conquistar o
              mercado. Mas aí vem a pergunta: Como transformar essa ideia em
              realidade?
            </p>
            <p>
              <strong>
                Como garantir que seu produto alcance as pessoas certas, nos
                lugares certos, e no momento certo?</strong
              >
            </p>
          </div>
        </div>
      </div>
      <div class="bg-image idea"></div>
    </div>
  </div>
  <div class="section bg-blue font-white">
    <div class="container flex-row-center">
      <div class="bg-image veder-machine"></div>
      <div class="text-container big-gap">
        <h2>
          O poder do
          <span class="focus-span bg-white font-blue">E-commerce</span>
        </h2>
        <div class="paragraph">
          <p>
            É aqui que a mágica do e-commerce entra em cena. Com uma loja
            online, você não está limitado por localização geográfica ou
            horários de funcionamento. Você terá total controle sobre a
            logistica e as diversas políticas de funcionamento de sua empresa.
          </p>
        </div>
        <div class="paragraph">
          <p>
            <strong
              >Seu negócio está aberto 24 horas por dia, 7 dias por semana,
              alcançando clientes em qualquer lugar do mundo.</strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg-white font-black">
    <div class="container flex-column-start big-gap">
      <h2>
        <span class="focus-span bg-black font-white">Benefícios</span>
      </h2>

      <div class="paragraph">
        <p>
          <strong
            >Quando você investe em uma loja online, está investindo no futuro
            do seu negócio!</strong
          >
        </p>
      </div>

      <div class="retangle-container medium-gap">
        <div class="retangle-option">
          <div class="flex">
            <div class="image bg-blue font-white text-center"><h1>01</h1></div>
            <div class="paragraph description font-black">
              <p>
                <strong>Redução de Custos Operacionais:</strong><br />
                Economize com aluguel, funcionários e outros custos fixos.
              </p>
            </div>
          </div>
        </div>
        <div class="retangle-option">
          <div class="flex">
            <div class="paragraph description font-black">
              <p>
                <strong>Automatização de Vendas:</strong> Deixe o processo de
                vendas funcionando automaticamente enquanto você foca em outras
                áreas do seu negócio.
              </p>
            </div>
            <div class="image bg-blue font-white text-center">
              <span><h1>02</h1></span>
            </div>
          </div>
        </div>
        <div class="retangle-option">
          <div class="flex">
            <div class="image bg-blue font-white text-center">
              <span><h1>03</h1></span>
            </div>
            <div class="paragraph description font-black">
              <p>
                <strong>Dados Valiosos de Clientes:</strong>
                Colete informações essenciais sobre o comportamento de seus
                clientes, permitindo personalizar estratégias e metas.
              </p>
            </div>
          </div>
        </div>
        <div class="retangle-option">
          <div class="flex">
            <div class="paragraph description font-black">
              <p>
                <strong>Conveniência para o Cliente:</strong> Ofereça uma
                experiência de compra conveniente, com entregas rápidas e
                variadas opções de pagamento.
              </p>
            </div>
            <div class="image bg-blue font-white text-center">
              <span><h1>04</h1></span>
            </div>
          </div>
        </div>
      </div>

      <div class="paragraph flex-column-center big-gap" style="width: 100%">
        <p><strong>e muitos outros...</strong></p>
      </div>
      <div class="paragraph">
        <p>
          Um e-commerce permite que você colete dados valiosos sobre o
          comportamento dos seus clientes,
          <strong
            >ajudando a tomar decisões mais informadas e estratégicas.</strong
          >
        </p>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="section bg-blue font-white">
      <div class="container flex-column-start big-gap">
        <h2>
          O momento é
          <span class="focus-span bg-white font-blue">Agora</span>
        </h2>
        <div class="paragraph">
          <p>
            O mundo digital está crescendo a passos largos, e aqueles que não se
            adaptam correm o risco de ficar para trás.
            <strong
              >Cada dia que passa é uma oportunidade perdida de alcançar novos
              clientes e aumentar suas vendas.
            </strong>
            Se você está esperando o momento perfeito, ele é agora. Não deixe
            que a concorrência passe à frente enquanto você espera.
          </p>
        </div>
        <div class="flex-row-center big-gap">
          <div class="text-container big-gap">
            <div class="paragraph">
              <p>
                Na <span class="logo-background"></span>, não apenas criamos
                e-commerces; construímos plataformas que impulsionam negócios ao
                próximo nível.
                <strong
                  >Com uma equipe especializada em design, desenvolvimento e
                  marketing digital, já ajudamos diversas empresas a transformar
                  suas ideias em lojas online de sucesso.</strong
                >
                Nossos clientes confiam em nós porque entregamos resultados.
              </p>
            </div>
          </div>
          <div class="bg-image clock-and-person"></div>
        </div>
      </div>
    </div>
    <div class="section bg-black font-white">
      <div class="container flex-column-center big-gap">
        <h2><span class="focus-span bg-blue font-black">Garantimos</span></h2>
        <div class="paragraph flex-column-center medium-gap">
          <div
            class="flex-column-center text-center"
            style="text-transform: uppercase"
          >
            <h1>50%</h1>
            <p class="big-span">
              De desconto PARA <strong>NOVAS EMPRESAS</strong> OU EMPRESAS QUE
              <strong>NÃO SAÍRAM DO PAPÉL</strong>.
            </p>
          </div>
          <div class="paragraph flex-column-center medium-gap">
            <p><strong>Vagas limitadas, garanta a sua agora!</strong></p>
            <mat-icon
              aria-hidden="false"
              class="arrow-down"
              aria-label="Example home icon"
              fontIcon="arrow_drop_down"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="section bg-white font-black">
      <div class="container flex-column-center big-gap">
        <h2>NÃO DEIXE PARA DEPOIS O QUE PODE COMEÇAR AGORA</h2>
        <h3 class="text-center">
          <span style="font-weight: 300">
            Clique no botão abaixo e fale com um de nossos especialistas.
          </span>
          <br />
          <strong>
            Vamos juntos transformar sua visão em uma loja online de sucesso!
          </strong>
        </h3>
        <div>
          <button
            (click)="openWhatsapp()"
            class="button-talk-to-us bg-blue font-white cta"
          >
            FALE CONOSCO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile">
  <div class="section flex-column-center big-gap bg-black font-white">
    <h2 class="font-blue">
      Imagine o <span class="focus-span bg-blue font-black">SEGUINTE:</span>
    </h2>
    <div class="bg-image idea"></div>
    <div class="paragraph">
      <p>
        <strong>
          Como garantir que seu produto alcance as pessoas certas, nos lugares
          certos, e no momento certo?</strong
        >
      </p>
    </div>
  </div>
  <div class="section flex-column-center big-gap bg-blue font-white">
    <div class="bg-image veder-machine">
      <h2 class="flex-column-start" style="float: right">
        <span>O poder do</span>
        <span class="focus-span bg-white font-blue">E-commerce</span>
      </h2>
    </div>
    <div class="paragraph text-center">
      <p>
        É aqui que a mágica do e-commerce entra em cena. Com uma loja online,
        você não está limitado por localização geográfica ou horários de
        funcionamento.
      </p>
    </div>
    <div class="paragraph text-center">
      <p>
        <strong
          >Seu negócio está aberto 24 horas por dia, 7 dias por semana,
          alcançando clientes em qualquer lugar do mundo.</strong
        >
      </p>
    </div>
  </div>
  <div class="section flex-column-start big-gap bg-white font-black">
    <h2>
      <span class="focus-span bg-black font-white">Benefícios</span>
    </h2>

    <div class="paragraph">
      <p>
        <strong
          >Quando você investe em uma loja online, está investindo no futuro do
          seu negócio!</strong
        >
      </p>
    </div>

    <div class="retangle-container medium-gap">
      <div class="retangle-option">
        <div class="flex">
          <div class="flex-row-center some-gap">
            <div class="image bg-blue font-white text-center"><h1>01</h1></div>
            <h3>Redução de Custos Operacionais:</h3>
          </div>
          <div class="paragraph description font-black text-left">
            <p>
              <br />
              Economize com aluguel, funcionários e outros custos fixos.
            </p>
          </div>
        </div>
      </div>
      <div class="retangle-option">
        <div class="flex">
          <div class="flex-row-center some-gap">
            <h3>Automatização de Vendas:</h3>
            <div class="image bg-blue font-white text-center"><h1>02</h1></div>
          </div>
          <div class="paragraph description font-black text-left">
            <p>
              Deixe o processo de vendas funcionando automaticamente enquanto
              você foca em outras áreas do seu negócio.
            </p>
          </div>
        </div>
      </div>
      <div class="retangle-option">
        <div class="flex">
          <div class="flex-row-center some-gap">
            <div class="image bg-blue font-white text-center"><h1>03</h1></div>
            <h3>Dados Valiosos de Clientes:</h3>
          </div>
          <div class="paragraph description font-black text-left">
            <p>
              Colete informações essenciais sobre o comportamento de seus
              clientes, permitindo personalizar estratégias e metas.
            </p>
          </div>
        </div>
      </div>
      <div class="retangle-option">
        <div class="flex">
          <div class="flex-row-center some-gap">
            <h3>Conveniência para o Cliente:</h3>
            <div class="image bg-blue font-white text-center"><h1>04</h1></div>
          </div>
          <div class="paragraph description font-black text-left">
            <p>
              Ofereça uma experiência de compra conveniente, com entregas
              rápidas e variadas opções de pagamento.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="paragraph flex-column-center medium-gap" style="width: 100%">
      <p><strong>e muitos outros...</strong></p>
    </div>
    <div class="paragraph text-center">
      <p>
        Um e-commerce permite que você colete dados valiosos sobre o
        comportamento dos seus clientes,
        <strong
          >ajudando a tomar decisões mais informadas e estratégicas.</strong
        >
      </p>
    </div>
  </div>
  <div class="bg-white">
    <div
      class="section flex-column-center big-gap bg-blue font-white text-center"
    >
      <h2>
        O momento é
        <span class="focus-span bg-white font-blue">Agora</span>
      </h2>
      <div class="paragraph">
        <p>
          O mundo digital está crescendo a passos largos, e aqueles que não se
          adaptam correm o risco de ficar para trás.
          <strong
            >Cada dia que passa é uma oportunidade perdida de alcançar novos
            clientes e aumentar suas vendas.
          </strong>
          Não deixe que a concorrência passe à frente enquanto você espera.
        </p>
      </div>
      <div class="bg-image clock-and-person"></div>

      <h2 class="text-left">
        Por que trabalhar
        <span class="focus-span bg-white font-blue">conosco</span>
      </h2>
      <div class="flex-row-center big-gap">
        <div class="text-container big-gap">
          <div class="paragraph">
            <p>
              Na <span class="logo-background"></span>, não apenas criamos
              e-commerces; construímos plataformas que impulsionam negócios ao
              próximo nível.
              <strong
                >Com uma equipe especializada em design, desenvolvimento e
                marketing digital, já ajudamos diversas empresas a transformar
                suas ideias em lojas online de sucesso.</strong
              >
              Nossos clientes confiam em nós porque entregamos resultados.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section flex-column-center big-gap bg-black font-white">
      <h2 class="flex-column-center">
        <span class="focus-span bg-blue font-black">oportunidade</span>
        <h1>Única</h1>
      </h2>
      <div class="paragraph flex-column-center medium-gap">
        <div
          class="flex-column-center text-center"
          style="text-transform: uppercase"
        >
          <div class="text-justify">
            <span class="big-span" style="font-weight: 200">
              <h1 class="font-blue">50%</h1>
              De desconto PARA <strong>NOVAS EMPRESAS</strong> OU EMPRESAS QUE
              <strong>NÃO SAÍRAM DO PAPÉL</strong>.
            </span>
          </div>
        </div>
        <div class="paragraph flex-column-center medium-gap">
          <p><strong>Vagas limitadas, garanta a sua agora!</strong></p>
          <mat-icon
            aria-hidden="false"
            class="arrow-down"
            aria-label="Example home icon"
            fontIcon="arrow_drop_down"
          ></mat-icon>
        </div>
      </div>
    </div>
    <div class="section flex-column-center big-gap bg-white font-black">
      <h2 class="text-center">
        NÃO DEIXE PARA DEPOIS O QUE PODE COMEÇAR
        <span class="focus-span bg-black font-white">AGORA</span>
      </h2>
      <div class="paragraph text-center">
        <p style="font-weight: 300">
          Clique no botão abaixo e fale com um de nossos especialistas.
          <strong>
            Vamos juntos transformar sua visão em uma loja online de sucesso!
          </strong>
        </p>
      </div>
      <div>
        <button
          (click)="openWhatsapp()"
          class="button-talk-to-us bg-blue font-white cta"
        >
          FALE CONOSCO
        </button>
      </div>
    </div>
  </div>
</div>
