<div class="container">
  <div class="first-section">
    <div class="flex">
      <div class="text">
        <div class="title">
          <h2>
            IMAGINE O
            <div class="focus-span">
              <span>SEGUINTE:</span>
            </div>
          </h2>
        </div>
        <div class="text-container">
          <div class="subtitle">
            <span>
              Você tem um produto que sabe que tem potencial para conquistar o
              mercado. Mas aí vem a pergunta: Como transformar essa ideia em
              realidade?
            </span>
          </div>
          <div class="footer-title">
            <span>
              Como garantir que seu produto alcance as pessoas certas, nos
              lugares certos, e no momento certo?
            </span>
          </div>
        </div>
      </div>
      <div class="image"></div>
    </div>
  </div>
  <div class="second-section">
    <div class="flex">
      <div class="image"></div>
      <div class="text">
        <div class="title">
          <h2>
            O poder do
            <div class="focus-span">
              <span>E-commerce</span>
            </div>
          </h2>
        </div>
        <div class="text-container">
          <div class="subtitle">
            <span>
              É aqui que a mágica do e-commerce entra em cena. Com uma loja
              online, você não está limitado por localização geográfica ou
              horários de funcionamento. Você terá total controle sobre a
              logistica e as diversas políticas de funcionamento de sua empresa.
            </span>
          </div>
          <div class="footer-title">
            <span>
              Seu negócio está aberto 24 horas por dia, 7 dias por semana,
              alcançando clientes em qualquer lugar do mundo.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-section">
    <div class="content">
      <div class="title">
        <span>BENEFÍCIOS</span>
      </div>
      <div class="subtitle">
        Quando você investe em uma loja online, está investindo no futuro do seu
        negócio!
      </div>

      <div class="retangle-container">
        <div class="retangle-option">
          <div class="flex">
            <div class="image">01</div>
            <div class="description">
              <span
                ><strong>Redução de Custos Operacionais:</strong><br />
                Economize com aluguel, funcionários e outros custos fixos.</span
              >
            </div>
          </div>
        </div>
        <div class="retangle-option">
          <div class="flex">
            <div class="description">
              <span>
                <strong>Automatização de Vendas:</strong> Deixe o processo de
                vendas funcionando automaticamente enquanto você foca em outras
                áreas do seu negócio.
              </span>
            </div>
            <div class="image"><span>02</span></div>
          </div>
        </div>
        <div class="retangle-option">
          <div class="flex">
            <div class="image"><span>03</span></div>
            <div class="description">
              <span>
                <strong>Dados Valiosos de Clientes:</strong>
                Colete informações essenciais sobre o comportamento de seus
                clientes, permitindo personalizar estratégias e metas.
              </span>
            </div>
          </div>
        </div>
        <div class="retangle-option">
          <div class="flex">
            <div class="description">
              <span>
                <strong>Conveniência para o Cliente:</strong> Ofereça uma
                experiência de compra conveniente, com entregas rápidas e
                variadas opções de pagamento.
              </span>
            </div>
            <div class="image"><span>04</span></div>
          </div>
        </div>
      </div>
      <div class="and-more">
        <span>e muitos outros...</span>
      </div>
      <div class="footer">
        <span
          >Um e-commerce permite que você colete dados valiosos sobre o
          comportamento dos seus clientes, ajudando a tomar decisões mais
          informadas e estratégicas.
        </span>
      </div>
    </div>
  </div>
  <div class="background">
    <div class="fourth-section">
      <div class="content">
        <div class="title">
          <h2>
            O momento é
            <div class="focus-span">
              <span>Agora</span>
            </div>
          </h2>
        </div>
        <div class="subtitle">
          <span
            >O mundo digital está crescendo a passos largos, e aqueles que não
            se adaptam correm o risco de ficar para trás.
            <strong
              >Cada dia que passa é uma oportunidade perdida de alcançar novos
              clientes e aumentar suas vendas.
            </strong>
            Se você está esperando o momento perfeito, ele é agora. Não deixe
            que a concorrência passe à frente enquanto você espera.</span
          >
        </div>
        <div class="flex">
          <div class="description">
            <span
              >Na <span class="logo-background"></span>, não apenas criamos
              e-commerces; construímos plataformas que impulsionam negócios ao
              próximo nível.
              <strong
                >Com uma equipe especializada em design, desenvolvimento e
                marketing digital, já ajudamos diversas empresas a transformar
                suas ideias em lojas online de sucesso.</strong
              >
              Nossos clientes confiam em nós porque entregamos resultados.</span
            >
          </div>
          <div class="image">
            <div class="image-center"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="fifth-section">
      <div class="flex">
        <h2 class="title focus-span">Garantimos</h2>
        <div class="flex">
          <span class="title big-span">50%</span>
          <span>
            De desconto
            <br />
            PARA <strong>NOVAS EMPRESAS</strong> OU EMPRESAS QUE
            <strong>NÃO SAÍRAM DO PAPÉL</strong>.</span
          >
        </div>
        <div class="footer-text">
          <span>Vagas limitadas, garanta a sua agora!</span>
          <div class="arrow-down"></div>
        </div>
      </div>
    </div>
    <div class="sixth-section">
      <div class="flex">
        <span class="title title-span"
          >NÃO DEIXE PARA DEPOIS O QUE PODE COMEÇAR AGORA</span
        >
        <div class="description-content">
          <span class="description-span">
            Clique no botão abaixo e fale com um de nossos especialistas.
          </span>
          <span class="description-span"
            ><strong
              >Vamos juntos transformar sua visão em uma loja online de
              sucesso!</strong
            ></span
          >
        </div>
        <div>
          <div class="button">
            <span class="button-text">FALE CONOSCO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
