<div class="desktop">
  <div class="section bg-black font-white">
    <div class="container flex-column-center big-gap">
      <div class="paragraph">
        <p class="text-justify">
          Nos dias de hoje, o Instagram é muito mais do que apenas uma rede
          social. Ele se tornou uma vitrine poderosa onde as empresas podem não
          só mostrar seus produtos e serviços, mas também
          <strong class="font-blue">
            construir uma relação de confiança com seus clientes.
          </strong>
        </p>
      </div>
      <div class="flex-row-center big-gap">
        <div class="paragraph">
          <p>
            Ter uma presença sólida no Instagram é <strong>crucial</strong> para
            se destacar em um mercado altamente competitivo.
          </p>
        </div>
      </div>
      <!-- <p-carousel
        [value]="images"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-image #item>
          <div
            style="display: flex; justify-content: center; align-items: center; width: 100%;"
          >
            <div
              class="bg-image"
              [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
              style="background-position: center;"
            ></div>
          </div>
        </ng-template>
      </p-carousel> -->
      <!-- <div class="bg-image iphone-group"></div> -->

      <h3>
        <strong
          >Abaixo estão as
          <span class="font-blue">três principais</span> vantagens:</strong
        >
      </h3>

      <div class="flex-column-center big-gap">
        <div class="flex-row-center big-gap">
          <h1 class="font-blue">1</h1>
          <div class="paragraph">
            <p class="text-justify">
              <strong>Visibilidade e Alcance:</strong> O Instagram permite que
              sua marca seja vista por milhões de usuários ativos diariamente.
              Quanto mais forte for sua presença, maior é a chance de atrair
              novos seguidores que podem se tornar clientes fiéis.
            </p>
          </div>
        </div>
        <div class="flex-row-center big-gap">
          <div class="paragraph">
            <p class="text-justify">
              <strong>Construção de Relacionamento:</strong> Interagir com seu
              público por meio de comentários, mensagens e posts faz com que sua
              marca esteja mais próxima de seus seguidores, criando um senso de
              comunidade e fidelidade.
            </p>
          </div>
          <h1 class="font-blue">2</h1>
        </div>
        <div class="flex-row-center big-gap">
          <h1 class="font-blue">3</h1>
          <div class="paragraph">
            <p class="text-justify">
              <strong>Credibilidade:</strong> Um perfil bem organizado, com
              postagens consistentes e visuais atrativos, passa a mensagem de
              profissionalismo e seriedade, algo essencial para conquistar a
              confiança dos clientes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg-blue font-white">
    <div class="container flex-column-center big-gap">
      <h2>
        E COMO ISSO PODE AJUDAR A CAPTAR MAIS
        <span class="focus-span bg-white font-blue">CLIENTES?</span>
      </h2>
      <div class="flex-row-center big-gap">
        <div class="paragraph" style="flex: 1 1 50%">
          <p>
            <strong>
              Uma presença sólida não se faz apenas com postagens aleatórias.
            </strong>
            Para atrair e converter clientes, é preciso ter uma estratégia bem
            definida de conteúdo e visual.
          </p>
          <p><strong>Veja como isso pode transformar seu Instagram:</strong></p>
        </div>
        <div class="bg-image think-people"></div>
      </div>
      <div class="flex-row-center big-gap">
        <div class="card">
          <div class="ico first-impression-icon"></div>
          <h3 class="font-blue">Primeira Impressão Conta</h3>
          <p>
            Para atrair e converter clientes, é preciso ter uma estratégia bem
            definida de conteúdo e visual. Veja como isso pode transformar seu
            Instagram:
          </p>
        </div>
        <div class="card">
          <div class="ico visual-story-icon"></div>
          <h3 class="font-blue">Histórias Visuais e Atrante</h3>
          <p>
            No Instagram, o visual fala mais alto. Imagens bem trabalhadas,
            vídeos criativos e stories dinâmicos capturam a atenção e envolvem
            os usuários, fazendo com que sua marca se destaque em meio a tantas
            outras.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="ico engaging-content-icon"></div>
        <h3 class="font-blue">Conteúdo Engajador</h3>
        <p>
          Posts que educam, inspiram ou resolvem problemas dos seus seguidores
          não só aumentam o engajamento, como também posicionam sua marca como
          autoridade no seu segmento. Isso gera confiança e faz com que os
          clientes estejam mais propensos a comprar de você.
        </p>
      </div>
    </div>
  </div>
  <section class="section bg-white font-black text-center">
    <div class="container flex-column-center big-gap">
      <h2>FALE CONOSCO E IMPULSIONE SUA PRESENÇA no instagram</h2>
      <p>Clique no botão abaixo e fale com um de nossos especialistas.</p>
      <button
        (click)="openWhatsapp()"
        class="button-talk-to-us bg-blue font-white"
      >
        FALE CONOSCO
      </button>
    </div>
  </section>
</div>

<div class="mobile">
  <div
    class="section flex-column-center text-center big-gap bg-black font-white"
    style="overflow-x: hidden"
  >
    <h2>
      Sua empresa está
      <span class="focus-span bg-blue font-black">"Invisível</span> no
      instagram?
    </h2>
    <div class="paragraph">
      <p class="text-center">
        Nos dias de hoje, o Instagram é muito mais do que apenas uma rede
        social. Ele se tornou uma vitrine poderosa onde as empresas podem não só
        mostrar seus produtos e serviços, mas também
        <strong class="font-blue">
          construir uma relação de confiança com seus clientes.
        </strong>
      </p>
    </div>

    <p-carousel
      [value]="images"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="5000"
    >
      <ng-template let-image #item>
        <img [src]="image.src" [alt]="image.title" />
      </ng-template>
    </p-carousel>

    <div class="flex-row-center big-gap">
      <div class="paragraph">
        <p class="text-center">
          Ter uma presença sólida no Instagram é <strong>crucial</strong> para
          se destacar em um mercado altamente competitivo.
        </p>
      </div>
    </div>

    <h3>
      <strong
        >Abaixo estão as
        <span class="font-blue">três principais</span> vantagens:</strong
      >
    </h3>

    <div class="flex-column-center big-gap">
      <div class="flex-column-center medium-gap">
        <h1 class="font-blue" style="font-size: 100px">01.</h1>
        <div class="paragraph">
          <p class="text-center">
            <strong>Visibilidade e Alcance:</strong> O Instagram permite que sua
            marca seja vista por milhões de usuários ativos diariamente. Quanto
            mais forte for sua presença, maior é a chance de atrair novos
            seguidores que podem se tornar clientes fiéis.
          </p>
        </div>
      </div>
      <div class="flex-column-center medium-gap">
        <h1 class="font-blue" style="font-size: 100px">02.</h1>
        <div class="paragraph">
          <p class="text-center">
            <strong>Construção de Relacionamento:</strong> Interagir com seu
            público por meio de comentários, mensagens e posts faz com que sua
            marca esteja mais próxima de seus seguidores, criando um senso de
            comunidade e fidelidade.
          </p>
        </div>
      </div>
      <div class="flex-column-center medium-gap">
        <h1 class="font-blue" style="font-size: 100px">03.</h1>
        <div class="paragraph">
          <p class="text-center">
            <strong>Credibilidade:</strong> Um perfil bem organizado, com
            postagens consistentes e visuais atrativos, passa a mensagem de
            profissionalismo e seriedade, algo essencial para conquistar a
            confiança dos clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="section flex-column-center text-center big-gap bg-blue font-white"
  >
    <h2>
      E COMO ISSO PODE AJUDAR A CAPTAR +
      <span class="focus-span bg-white font-blue">CLIENTES?</span>
    </h2>
    <div class="bg-image think-people"></div>
    <div class="flex-row-center big-gap">
      <div class="paragraph" style="flex: 1 1 50%">
        <p>
          <strong>
            R: Uma presença sólida não se faz apenas com postagens aleatórias.
          </strong>
          Para atrair e converter clientes, é preciso ter uma estratégia bem
          definida de conteúdo e visual.
        </p>
        <p><strong>Veja como isso pode transformar seu Instagram:</strong></p>
      </div>
    </div>
    <div class="card flex-column-center">
      <div class="ico first-impression-icon"></div>
      <h3 class="font-blue">Primeira Impressão Conta</h3>
      <p>
        Para atrair e converter clientes, é preciso ter uma estratégia bem
        definida de conteúdo e visual. Veja como isso pode transformar seu
        Instagram:
      </p>
    </div>
    <div class="card flex-column-center">
      <div class="ico visual-story-icon"></div>
      <h3 class="font-blue">Histórias Visuais e Atrante</h3>
      <p>
        No Instagram, o visual fala mais alto. Imagens bem trabalhadas, vídeos
        criativos e stories dinâmicos capturam a atenção e envolvem os usuários,
        fazendo com que sua marca se destaque em meio a tantas outras.
      </p>
    </div>
    <div class="card flex-column-center">
      <div class="ico engaging-content-icon"></div>
      <h3 class="font-blue">Conteúdo Engajador</h3>
      <p>
        Posts que educam, inspiram ou resolvem problemas dos seus seguidores não
        só aumentam o engajamento, como também posicionam sua marca como
        autoridade no seu segmento. Isso gera confiança e faz com que os
        clientes estejam mais propensos a comprar de você.
      </p>
    </div>
  </div>
  <section
    class="section flex-column-center big-gap bg-white font-black text-center"
  >
    <h2>FALE CONOSCO E IMPULSIONE SUA PRESENÇA no instagram</h2>
    <p>Clique no botão abaixo e fale com um de nossos especialistas.</p>
    <button
      (click)="openWhatsapp()"
      class="button-talk-to-us bg-blue font-white"
    >
      FALE CONOSCO
    </button>
  </section>
</div>
