/* You can add global styles to this file, and also import other style files */
body{
    background-color: #151515;
    font-family: 'Kanit', sans-serif !important; /* Família tipográfica */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
