/* You can add global styles to this file, and also import other style files */
body {
  background-color: #151515;
  font-family: "Kanit", serif; /* Família tipográfica */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.focus-span {
  color: #151515; /* Azul para SEGUNTE */
  background: #0066e0;
  border-radius: 10px;
  padding: 0 10px;
  width: fit-content;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #d9d9d9; /* Cor da seta */
  cursor: pointer;
}

.arrow-down:hover {
  border-top: 20px solid #0066e0; /* Cor da seta */
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.button {
  background-color: #0066e0; /* Azul vibrante */
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 800;
  font-size: 28px;
}

.button:hover {
  background-color: #0066e0; /* Azul mais escuro no hover */
}

.button-text {
  color: #ededed; /* Texto branco */
  font-size: 28px;
  text-transform: uppercase;
}
