/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #151515;
  font-family: "Kanit", serif; /* Família tipográfica */
}

h1 {
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
  font-size: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
}

h4 {
  font-size: 28px;
  font-weight: 300;
}

h5 {
  font-weight: 200;
  font-size: 24px;
}

ul {
  list-style: none;
}

p {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.section {
  padding: 10vh 5vw;
  display: flex;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-column-end {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex-row-start {
  display: flex;
  align-items: start;
  flex-direction: row;
}

.some-gap {
  gap: 10px;
}

.medium-gap {
  gap: 20px;
}

.big-gap {
  gap: 40px;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bg-black {
  background-color: #151515;
}

.font-black {
  color: #151515;
}

.bg-blue {
  background-color: #0066e0;
}

.font-blue {
  color: #0066e0;
}

.bg-white {
  background-color: #ededed; /* Texto branco */
}

.font-white {
  color: #ededed; /* Texto branco */
}

.paragraph {
  display: flex;
  flex-direction: column;
}

.focus-span {
  border-radius: 10px;
  padding: 0 10px;
  width: fit-content;
}

.arrow-down:hover {
  color: #0066e0;
  font-size: 34px;
  transition: all 0.3s ease-in-out;
}

.button-talk-to-us {
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
}

.button-talk-to-us-outline-small {
  border: 2px solid #0066e0;
  color: #0066e0;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
}

.bg-image {
  flex: 1 1 50%;
  height: 400px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.big-span {
  font-size: 50px;
  line-height: 1;
}

.ico {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  font-size: 20px;
  width: 40%;
}

@media (max-width: 1090px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .bg-image {
    flex: none;
    height: 300px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .bg-image {
    flex: none;
    height: 300px;
  }
}

@media (max-width: 640px) {
  .bg-image {
    flex: none;
    height: 200px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
